{% extends "plantilla.html" %}
{% block contenido %}
<div class="container">
    <div class="card card-outline card-info mt-3">
        <div class="card-header">
            <h1 class="card-title">LISTADO DE PRODUCTOS</h1>
            <a href="{% url 'agregarproducto' %}" class='btn btn-sm btn-primary btnadd'><i class='fas fa-plus'></i>
                NUEVO</a>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-6 pull-right">
                    <form action="" method="GET">


                        <div class="input-group">
                            <input type="text" name="buscar" id="buscar" cla ss="form-control" autofocus
                                placeholder="Buscar" value="">
                            <span class="input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </form>
                </div>
            </div>
            <table class="table mt-2">
                <table id="tablasubfamilias" class="table table-striped mt4" style="width:100%">
                    <thead class="bg-info text-white">
                        <tr>
                            <th>CODIGO</th>
                            <th>DESCRIPCION</th>
                            <th>PRECIO</th>
                            <th>STOCK</th>
                            <th>CATEGORIA</th>
                            <th>
                                <center>OPCIONES</center>
                            </th>
                        </tr>
                    </thead>
                    {% if producto %}
                    {% for item in producto %}
                    <tr>
                        <td>{{ item.idproducto }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>{{ item.precio }}</td>
                        <td>{{ item.stock }}</td>
                        <td>{{ item.idcategoria.descripcion }}</td>
                        <td style="text-align: center;">
                            <a href="{% url 'editarproducto' item.idproducto %}" class="btn btn-info btnsm"><i class="fa
fa-edit"></i> Editar</a>
                            <a href="{% url 'eliminarproducto' item.idproducto %}" class="btn btn-danger btnsm"><i
                                    class="fa fa-trash"></i>
                                Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr style="text-align: center;">
                        <td colspan="5">
                            <p>No hay Registros</p>
                        </td>
                    </tr>
                    {% endif %}
                </table>
        </div>
    </div>
</div>
</div>
{% endblock %}